--
-- PostgreSQL database dump
--

\restrict 5x4VCDi3HTFyMYjRHM5cGFCnNtCXLVTJFLVVXUzwdmdEhSJjBqLhYb0bn6jGBEe

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: administracao_alunooficial; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.administracao_alunooficial (
    id bigint NOT NULL,
    n_processo character varying(15) NOT NULL,
    nome_completo character varying(100) NOT NULL,
    n_bilhete character varying(30) NOT NULL,
    curso character varying(70) NOT NULL,
    classe character varying(2) NOT NULL,
    data_nascimento date NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer
);


ALTER TABLE public.administracao_alunooficial OWNER TO postgres;

--
-- Name: administracao_alunooficial_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.administracao_alunooficial ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.administracao_alunooficial_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: administracao_auditlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.administracao_auditlog (
    id bigint NOT NULL,
    acao character varying(20) NOT NULL,
    modelo character varying(100) NOT NULL,
    objeto_id integer NOT NULL,
    alteracoes jsonb,
    criado_em timestamp with time zone NOT NULL,
    usuario_id integer
);


ALTER TABLE public.administracao_auditlog OWNER TO postgres;

--
-- Name: administracao_auditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.administracao_auditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.administracao_auditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: livros_aluno; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.livros_aluno (
    n_processo integer NOT NULL,
    curso character varying(100) NOT NULL,
    classe character varying(20) NOT NULL,
    data_nascimento date,
    telefone character varying(20) NOT NULL,
    n_reservas integer NOT NULL,
    n_emprestimos integer NOT NULL,
    estado character varying(20) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.livros_aluno OWNER TO postgres;

--
-- Name: livros_autor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.livros_autor (
    id bigint NOT NULL,
    nome character varying(120) NOT NULL,
    nacionalidade character varying(60) NOT NULL,
    total_obras integer NOT NULL,
    CONSTRAINT livros_autor_total_obras_check CHECK ((total_obras >= 0))
);


ALTER TABLE public.livros_autor OWNER TO postgres;

--
-- Name: livros_autor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.livros_autor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.livros_autor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: livros_categoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.livros_categoria (
    id bigint NOT NULL,
    nome character varying(60) NOT NULL,
    descricao character varying(250) NOT NULL,
    n_livros integer NOT NULL,
    CONSTRAINT livros_categoria_n_livros_check CHECK ((n_livros >= 0))
);


ALTER TABLE public.livros_categoria OWNER TO postgres;

--
-- Name: livros_categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.livros_categoria ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.livros_categoria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: livros_emprestimo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.livros_emprestimo (
    id bigint NOT NULL,
    data_emprestimo date NOT NULL,
    data_devolucao date NOT NULL,
    reserva_id bigint NOT NULL,
    acoes character varying(20) NOT NULL
);


ALTER TABLE public.livros_emprestimo OWNER TO postgres;

--
-- Name: livros_emprestimo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.livros_emprestimo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.livros_emprestimo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: livros_livro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.livros_livro (
    id bigint NOT NULL,
    titulo character varying(120) NOT NULL,
    isbn character varying(13) NOT NULL,
    publicado_em date NOT NULL,
    sumario text NOT NULL,
    editora character varying(45) NOT NULL,
    n_paginas integer NOT NULL,
    quantidade integer NOT NULL,
    data timestamp with time zone NOT NULL,
    autor_id bigint NOT NULL,
    categoria_id bigint NOT NULL,
    capa character varying(500) NOT NULL,
    descricao text,
    estado character varying(20) NOT NULL,
    CONSTRAINT livros_livro_n_paginas_check CHECK ((n_paginas >= 0)),
    CONSTRAINT livros_livro_quantidade_check CHECK ((quantidade >= 0))
);


ALTER TABLE public.livros_livro OWNER TO postgres;

--
-- Name: livros_livro_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.livros_livro ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.livros_livro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: livros_notificacao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.livros_notificacao (
    id bigint NOT NULL,
    titulo character varying(200) NOT NULL,
    descricao text,
    criada_em timestamp with time zone NOT NULL,
    tipo character varying NOT NULL,
    lida boolean NOT NULL,
    usuario_id integer NOT NULL,
    link character varying(255)
);


ALTER TABLE public.livros_notificacao OWNER TO postgres;

--
-- Name: livros_notificacao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.livros_notificacao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.livros_notificacao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: livros_reserva; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.livros_reserva (
    id bigint NOT NULL,
    estado character varying(20) NOT NULL,
    data_reserva timestamp with time zone NOT NULL,
    aluno_id integer NOT NULL,
    livro_id bigint NOT NULL
);


ALTER TABLE public.livros_reserva OWNER TO postgres;

--
-- Name: livros_reserva_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.livros_reserva ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.livros_reserva_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: administracao_alunooficial; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.administracao_alunooficial (id, n_processo, nome_completo, n_bilhete, curso, classe, data_nascimento, created_at, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: administracao_auditlog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.administracao_auditlog (id, acao, modelo, objeto_id, alteracoes, criado_em, usuario_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
1	Aluno
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
5	10	1
8	13	1
9	14	1
10	15	1
11	16	1
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
1	2	6
2	2	8
3	2	9
4	2	12
5	2	14
6	2	16
7	2	25
8	2	26
9	2	27
10	2	28
11	2	29
12	2	30
13	2	31
14	2	32
15	2	33
16	2	34
17	2	35
18	2	36
19	2	37
20	2	38
21	2	39
22	2	40
23	2	41
24	2	42
25	2	43
26	2	44
27	2	45
28	2	46
29	2	47
30	2	48
31	2	17
32	2	18
33	2	19
34	2	20
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	livros	aluno
8	livros	autor
9	livros	categoria
10	livros	emprestimo
11	livros	livro
12	livros	reserva
13	administracao	notificacao
14	livros	notificacao
15	administracao	auditlog
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: livros_aluno; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.livros_aluno (n_processo, curso, classe, data_nascimento, telefone, n_reservas, n_emprestimos, estado, user_id) FROM stdin;
71289	Gest├úo de Sistemas Inform├íticos	13	2006-06-21	925444940	1	0	Ativo	13
101010	Qu├¡mica Industrial	13	2007-02-24		1	1	Ativo	14
71284			2007-03-22		0	0	Ativo	10
71321			2006-06-21	925444944	0	0	Ativo	15
71991			2003-03-10		0	0	Ativo	16
\.


--
-- Data for Name: livros_autor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.livros_autor (id, nome, nacionalidade, total_obras) FROM stdin;
1	Robert C. Martin	Americana	2
2	Martin Fowler	Brit├ónica	0
3	Elon Musk	Sul Africana	1
\.


--
-- Data for Name: livros_categoria; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.livros_categoria (id, nome, descricao, n_livros) FROM stdin;
2	Redes e Infraestruturas	Obras relacionadas a redes de computadores, seguran├ºa, servidores e arquitetura de sistemas.	0
3	Gest├úo e Empreendedorismo	Conte├║dos sobre gest├úo empresarial, lideran├ºa, inova├º├úo e cria├º├úo de neg├│cios.	0
4	Intelig├¬ncia Artificial	Livros sobre machine learning, ci├¬ncia de dados, automa├º├úo e tecnologias inteligentes.	1
1	Programa├º├úo	Livros focados em desenvolvimento de software, algoritmos, estruturas de dados e boas pr├íticas de codifica├º├úo.	2
\.


--
-- Data for Name: livros_emprestimo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.livros_emprestimo (id, data_emprestimo, data_devolucao, reserva_id, acoes) FROM stdin;
7	2026-02-18	2026-02-20	5	devolvido
8	2026-02-18	2026-02-19	4	devolvido
9	2026-02-20	2026-02-20	9	devolvido
10	2026-02-20	2026-02-21	6	devolvido
12	2026-02-21	2026-02-21	12	devolvido
13	2026-02-22	2026-02-23	17	devolvido
11	2026-02-21	2026-02-20	16	devolvido
14	2026-02-22	2026-02-24	13	devolvido
15	2026-02-22	2026-02-25	19	atrasado
\.


--
-- Data for Name: livros_livro; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: livros_notificacao; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: livros_reserva; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: administracao_alunooficial_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.administracao_alunooficial_id_seq', 1, false);


--
-- Name: administracao_auditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.administracao_auditlog_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 11, true);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 16, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 34, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 78, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 15, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 47, true);


--
-- Name: livros_autor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.livros_autor_id_seq', 5, true);


--
-- Name: livros_categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.livros_categoria_id_seq', 24, true);


--
-- Name: livros_emprestimo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.livros_emprestimo_id_seq', 15, true);


--
-- Name: livros_livro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.livros_livro_id_seq', 4, true);


--
-- Name: livros_notificacao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.livros_notificacao_id_seq', 30, true);


--
-- Name: livros_reserva_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.livros_reserva_id_seq', 20, true);


--
-- Name: administracao_alunooficial administracao_alunooficial_n_processo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administracao_alunooficial
    ADD CONSTRAINT administracao_alunooficial_n_processo_key UNIQUE (n_processo);


--
-- Name: administracao_alunooficial administracao_alunooficial_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administracao_alunooficial
    ADD CONSTRAINT administracao_alunooficial_pkey PRIMARY KEY (id);


--
-- Name: administracao_alunooficial administracao_alunooficial_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administracao_alunooficial
    ADD CONSTRAINT administracao_alunooficial_user_id_key UNIQUE (user_id);


--
-- Name: administracao_auditlog administracao_auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administracao_auditlog
    ADD CONSTRAINT administracao_auditlog_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: livros_aluno livros_aluno_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_aluno
    ADD CONSTRAINT livros_aluno_pkey PRIMARY KEY (n_processo);


--
-- Name: livros_aluno livros_aluno_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_aluno
    ADD CONSTRAINT livros_aluno_user_id_key UNIQUE (user_id);


--
-- Name: livros_autor livros_autor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_autor
    ADD CONSTRAINT livros_autor_pkey PRIMARY KEY (id);


--
-- Name: livros_categoria livros_categoria_nome_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_categoria
    ADD CONSTRAINT livros_categoria_nome_key UNIQUE (nome);


--
-- Name: livros_categoria livros_categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_categoria
    ADD CONSTRAINT livros_categoria_pkey PRIMARY KEY (id);


--
-- Name: livros_emprestimo livros_emprestimo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_emprestimo
    ADD CONSTRAINT livros_emprestimo_pkey PRIMARY KEY (id);


--
-- Name: livros_emprestimo livros_emprestimo_reserva_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_emprestimo
    ADD CONSTRAINT livros_emprestimo_reserva_id_key UNIQUE (reserva_id);


--
-- Name: livros_livro livros_livro_isbn_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_livro
    ADD CONSTRAINT livros_livro_isbn_key UNIQUE (isbn);


--
-- Name: livros_livro livros_livro_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_livro
    ADD CONSTRAINT livros_livro_pkey PRIMARY KEY (id);


--
-- Name: livros_notificacao livros_notificacao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_notificacao
    ADD CONSTRAINT livros_notificacao_pkey PRIMARY KEY (id);


--
-- Name: livros_reserva livros_reserva_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_reserva
    ADD CONSTRAINT livros_reserva_pkey PRIMARY KEY (id);


--
-- Name: administracao_alunooficial_n_processo_630d5084_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX administracao_alunooficial_n_processo_630d5084_like ON public.administracao_alunooficial USING btree (n_processo varchar_pattern_ops);


--
-- Name: administracao_auditlog_usuario_id_86ba100f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX administracao_auditlog_usuario_id_86ba100f ON public.administracao_auditlog USING btree (usuario_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: livros_categoria_nome_e56f6728_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX livros_categoria_nome_e56f6728_like ON public.livros_categoria USING btree (nome varchar_pattern_ops);


--
-- Name: livros_livro_autor_id_e3a841c9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX livros_livro_autor_id_e3a841c9 ON public.livros_livro USING btree (autor_id);


--
-- Name: livros_livro_categoria_id_e7600555; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX livros_livro_categoria_id_e7600555 ON public.livros_livro USING btree (categoria_id);


--
-- Name: livros_livro_isbn_0ece8939_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX livros_livro_isbn_0ece8939_like ON public.livros_livro USING btree (isbn varchar_pattern_ops);


--
-- Name: livros_notificacao_usuario_id_d11ff588; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX livros_notificacao_usuario_id_d11ff588 ON public.livros_notificacao USING btree (usuario_id);


--
-- Name: livros_reserva_aluno_id_0e0b7e52; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX livros_reserva_aluno_id_0e0b7e52 ON public.livros_reserva USING btree (aluno_id);


--
-- Name: livros_reserva_livro_id_4b3391c2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX livros_reserva_livro_id_4b3391c2 ON public.livros_reserva USING btree (livro_id);


--
-- Name: administracao_alunooficial administracao_alunooficial_user_id_b6d53ac2_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administracao_alunooficial
    ADD CONSTRAINT administracao_alunooficial_user_id_b6d53ac2_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: administracao_auditlog administracao_auditlog_usuario_id_86ba100f_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administracao_auditlog
    ADD CONSTRAINT administracao_auditlog_usuario_id_86ba100f_fk_auth_user_id FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: livros_aluno livros_aluno_user_id_8f088b95_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_aluno
    ADD CONSTRAINT livros_aluno_user_id_8f088b95_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: livros_emprestimo livros_emprestimo_reserva_id_8d89ac77_fk_livros_reserva_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_emprestimo
    ADD CONSTRAINT livros_emprestimo_reserva_id_8d89ac77_fk_livros_reserva_id FOREIGN KEY (reserva_id) REFERENCES public.livros_reserva(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: livros_livro livros_livro_autor_id_e3a841c9_fk_livros_autor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_livro
    ADD CONSTRAINT livros_livro_autor_id_e3a841c9_fk_livros_autor_id FOREIGN KEY (autor_id) REFERENCES public.livros_autor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: livros_livro livros_livro_categoria_id_e7600555_fk_livros_categoria_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_livro
    ADD CONSTRAINT livros_livro_categoria_id_e7600555_fk_livros_categoria_id FOREIGN KEY (categoria_id) REFERENCES public.livros_categoria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: livros_notificacao livros_notificacao_usuario_id_d11ff588_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_notificacao
    ADD CONSTRAINT livros_notificacao_usuario_id_d11ff588_fk_auth_user_id FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: livros_reserva livros_reserva_aluno_id_0e0b7e52_fk_livros_aluno_n_processo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_reserva
    ADD CONSTRAINT livros_reserva_aluno_id_0e0b7e52_fk_livros_aluno_n_processo FOREIGN KEY (aluno_id) REFERENCES public.livros_aluno(n_processo) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: livros_reserva livros_reserva_livro_id_4b3391c2_fk_livros_livro_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.livros_reserva
    ADD CONSTRAINT livros_reserva_livro_id_4b3391c2_fk_livros_livro_id FOREIGN KEY (livro_id) REFERENCES public.livros_livro(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 5x4VCDi3HTFyMYjRHM5cGFCnNtCXLVTJFLVVXUzwdmdEhSJjBqLhYb0bn6jGBEe

